* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
  color: white;
}

h1 {
  font-family: Impact, fantasy;
  font-size: 74px;
  margin-top: 75px;
}

p, span, button {
  font-family: monospace;
  font-size: 22px;
}

em {
  color: cyan;
}

button {
  cursor: pointer;
  background-color: cyan;
  color: black;
  width: 150px;
  height: 40px;
  margin-top: 40px;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: darkcyan;
  color: white;
}

.colored-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: 200px;
  height: 200px;
  margin: 25px 0;
}
